body {
  background-color: #193852;
  font-family: sans-serif;
  --backgroundBlue: #193852;
  --lightBlue: #9bdbff;
  --lightYellow: #ebc137;
  --scrollbarBG: #193852;
  --thumbBG: var(--lightYellow);
}
header {
  /* font-size: 30px;
  color: white; */
  padding-top: 0%;
  font-weight: bold;
  background-color: rgb(230, 208, 149);
  /* background-color:#FAF9F6; */

  text-align: center;
  box-shadow: 0px 0px 5px 0px #ffffff9e;
}
img.logo {
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
}
.backgroundImage {
  background-size: cover;
}
#search-form {
  margin-left: 25%;
  margin-right: 45%;
}

.subheader {
  color: white;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.button {
  font-size: 1rem;
  background-color: var(--lightYellow);
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
}
section {
  color: black;
}
.body-container {
  justify-content: center;
}
.input {
  margin-right: 10px;
}

div.is-child {
  padding: 10px;
}
section.is-child {
  padding: 10px;
}

.body-container {
  margin: 20px;
}

.job-summary {
  max-height: 120px;
  cursor: pointer;

  > h3 {
    font-weight: bold;
  }
  > li {
    list-style-type: none;
    font-size: small;
  }
}

.job-summary h3 {
  font-weight: bold;
}

.job-summary:hover {
  max-height: 120px;
  background-color: #ebc137;
  cursor: pointer;
}

.is-child {
  background-color: #f5f5f5;
  border-radius: 0.375em;
}

#clicked-job {
  background-color: #aac4d1;
  border-radius: 0.375em;
}

.scroll-allowed {
  overflow: scroll;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d0f;
  color: #e8e8e840;
  margin-top: auto;
}

/* Scroll jobs styling */
.scroll-allowed::-webkit-scrollbar {
  width: 11px;
}
.scroll-allowed {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scroll-allowed::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.scroll-allowed::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Weather temporary styliing */
.weather > p {
  padding: 3px;
}
.weather > hr {
  background-color: #e8e8e8;
}
.weather > #temperature {
  font-weight: bold;
  font-size: 30px;
}
#rain,
#snow,
#wind {
  padding-left: 10px;
}
.rain-content,
.snow-content,
.wind-content {
  display: flex;
  padding-bottom: 10px;
}
