* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns {
  background-color: #5384d4;
}
.subheader {
  color: white;
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  color: #5384d4;
  cursor: pointer;
  width: 40%;
}
.button:hover {
  background-color: #fafa11;
}

form {
  display: flex;
  align-items: center;
}
section {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.body-container {
  justify-content: center;
}
.input {
  margin-right: 30px;
  width: 20%;
  cursor: pointer;
}

.input:hover {
  box-shadow: 0 8px 8px #fafa11;
}

div.is-child {
  padding: 10px;
}
section.is-child {
  padding: 10px;
}

.body-container {
  margin: 20px;
}

.job-summary {
  max-height: 120px;
  cursor: pointer;
  border: 1px solid #5384d4;

  > h3 {
    font-weight: bold;
  }
}
p.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.job-summary:hover {
  max-height: 120px;
  box-shadow: 0 8px 8px #fafa11;
  cursor: pointer;
}

.is-child {
  background-color: #f5f5f5;
  border-radius: 0.375em;
}

#clicked-job {
  border-radius: 0.375em;
  cursor: pointer;
  border: 1px solid #5384d4;
}

.scroll-allowed {
  overflow: scroll;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d0f;
  color: #e8e8e840;
  margin-top: auto;
}

.scroll-allowed::-webkit-scrollbar {
  width: 11px;
}
.scroll-allowed {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scroll-allowed::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.scroll-allowed::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
