/* Apply default styles to all elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Styling for the upper background section */

.columns {
  background-color: #5384d4;
}
/* Styling for subheader */
.subheader {
  color: white;
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* Styling for buttons */
.button {
  font-size: 1rem;
  font-weight: bold;
  color: #5384d4;
  cursor: pointer;
  width: 40%;
}
/* Styling for buttons on hover  change color*/

.button:hover {
  background-color: #fafa11;
}

form {
  display: flex;
  align-items: center;
}

/* Styling for  job sections */
section {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.body-container {
  justify-content: center;
}
/* Styling for input section */

.input {
  margin-right: 30px;
  width: 20%;
  cursor: pointer;
}
/* Styling for input section on hover */

.input:hover {
  box-shadow: 0 8px 8px #fafa11;
}

div.is-child {
  padding: 10px;
}
section.is-child {
  padding: 10px;
}

.body-container {
  margin: 20px;
}
/* Styling for job-summary */

.job-summary {
  max-height: 120px;
  cursor: pointer;
  border: 1px solid #5384d4;

  > h3 {
    font-weight: bold;
  }
  > li {
    list-style-type: none;
    font-size: small;
  }
}

.job-summary h3 {
  font-weight: bold;
}
/* Styling for title paragraphs */

p.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #326cc9;
}
/* Styling for job-summary class on hover */
.job-summary:hover {
  max-height: 120px;
  box-shadow: 0 8px 8px #fafa11;
  cursor: pointer;
  color: #326cc9;
}

.is-child {
  background-color: #f5f5f5;
  border-radius: 0.375em;
  border: 1px solid #5384d4;
}

/* Styling for job list section */
#clicked-job {
  border-radius: 0.375em;
  cursor: pointer;
  border: 1px solid #5384d4;
}

.scroll-allowed {
  overflow: scroll;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d0f;
  color: #e8e8e840;
  margin-top: auto;
}

.scroll-allowed::-webkit-scrollbar {
  width: 11px;
}
.scroll-allowed {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scroll-allowed::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.scroll-allowed::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Temporary styling for the weather section */
.weather {
  margin: 20px;
}
.weather > p {
  padding: 3px;
}
.weather > hr {
  background-color: #e8e8e8;
}
.weather > #temperature {
  font-weight: bold;
  font-size: 30px;
}
#rain,
#snow,
#wind {
  padding-left: 10px;
}
.rain-content,
.snow-content,
.wind-content {
  display: flex;
  padding-bottom: 10px;
}
#wmo-code {
  margin-bottom: 10px;
  background-color: #9becfc;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  width: fit-content;
  padding: 7px;
}
